

/*
* GENERAL
*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', serif;
}

.c-app{
    background: #EDF2FF;
}

/**
* MENÚ
*/

.c-sidebar-cat{
    background: #3578E5;
}

.c-sidebar-brand{
    background: #1D3C78 !important;
    padding-top: 20px;
    padding-bottom: 20px;
}

.c-sidebar-brand .c-sidebar-brand-full{
    width: 80%;
}

.header{
    top: 20px !important;
    width: 90%;
    height: 50px !important;
    margin: auto;
    border-radius: 5px;
}

.c-header, .c-header-nav{
    min-height: 50px;
}

.header-nom{
    font-size: 17px;
    font-weight: 300;
    margin-bottom: 0;
}

.header-nom span{
    font-weight: 600;
}

.bell-header{
    height: 18px;
}

.c-avatar-img-aux{
    height: 7px;
    margin-left: 3px;
}

.c-sidebar-nav-link{
    font-size: 15px;
}

.c-sidebar-nav-title h6{
    font-size: 14px;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    padding-bottom: 5px;

}

.wrap-base{
    background: #ffffff;
    min-height: 50px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 0.875rem 0 rgba(41,48,66,.05);
    border: 0 solid transparent;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.fix-w{
    width: 95%;
    margin: auto;
}

.wrap-base h6.saludo{
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 0;
}

.wrap-base h6.msj-panel{
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 0;
    text-align: center;
}

form.catalogos-form input, form.catalogos-form textarea{
    font-size: 15px;
}

.titulo-seccion{
    font-size: 19px;
    font-weight: 600;
    border-bottom: 2px solid #1877F2;
    width: 100%;
    padding-bottom: 7px;
}

.titulo-seccion i{
    color: #1877F2;
    font-weight: 700;
}

.info-sec-tit{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0;
}
.info-seccion-aux{
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 0;
}

.form-label{
    font-size: 14px;
    font-weight: 600;
}

.form-text{
    font-size: 12px;
    font-weight: 400;
}

.btn-celeste-dash{
    width: 100%;
    background: #1877F2;
}

.btn-celeste-dash-2{
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 15px;
    font-weight: 600;
    background: #1877F2;
}

.svg-file{
    height: 100px;
    margin-left: 20px;
}

.ml-20p{
    margin-left: 20px;
}

/*
* TABLA
*/
#table td, #table td, #table td{
    font-size: 15px;
    vertical-align: middle;
}
